@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "anton";
    src: url("./fonts/Anton/Anton-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "bebas";
    src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "boldonse";
    src: url("./fonts/Boldonse/Boldonse-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "exo";
    src: url("./fonts/Exo/Exo-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "exo-italic";
    src: url("./fonts/Exo/Exo-Italic-VariableFont_wght.ttf") format("truetype");
  }


}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
